source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1

nuget FSharp.Core
nuget AspNetCore.HealthChecks.UI.Client
nuget AspNetCore.HealthChecks.MongoDb
nuget LanguageExt.Core
nuget LanguageExt.FSharp
nuget MongoDB.Driver
nuget MongoDB.Bson
nuget FSharpx.Extras
nuget MediatR.Extensions.Microsoft.DependencyInjection
nuget Swashbuckle.AspNetCore
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Seq
nuget Serilog.Formatting.Elasticsearch
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Scrutor
nuget App.Metrics.Reporting.Console
nuget App.Metrics.Reporting.HTTP
nuget App.Metrics.AspNetCore.All
nuget System.Linq.Async
nuget System.Threading.Channels
nuget Open.ChannelExtensions
nuget Cocona
nuget System.Text.Json
nuget Microsoft.Extensions.Logging.Abstractions 
nuget Microsoft.Extensions.Caching.StackExchangeRedis
nuget Microsoft.Extensions.Caching.Memory
nuget Microsoft.Extensions.Caching.Abstractions
nuget SolrNet.Microsoft.DependencyInjection

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector
nuget FluentAssertions
nuget Bogus