source https://www.nuget.org/api/v2
framework: netcoreapp2.2, netstandard2.0
storage none


nuget FSharp.Core
nuget Microsoft.AspNetCore.App 2.2.6
nuget Giraffe
nuget Giraffe.SerilogExtensions
nuget TaskBuilder.fs
nuget Jaeger
nuget AspNetCore.HealthChecks.UI.Client
nuget Serilog
nuget Serilog.Extensions.Logging
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Enrichers.Environment
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.ElasticSearch
nuget Serilog.Sinks.ColoredConsole
nuget Serilog.AspNetCore
nuget Serilog.Exceptions
nuget Serilog.Enrichers.Demystify

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/dominikus1993/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Tools.Git
    nuget Fake.Docker
    nuget Fake.Core.Process
    nuget Fake.Core.ReleaseNotes